@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  left: 0;
  top: 0;
  right: 0;
  padding-top: 39px;
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #ffff !important;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

svg {
  vertical-align: baseline;
}

.pointer {
  cursor: pointer;
}

.main-color {
  color: #1d0053;
}

.secondary-color {
  color: #ff2d2d !important;
}

.main-bg {
  background-color: #1d0053;
}

.secondary-bg {
  background-color: #ff2d2d;
}

.main-btn {
  background-color: #1d0053;
  border-radius: 0.2rem;
  font-size: 20px;
  padding: 10px 15px 10px !important;
  color: #fff;
}

.main-btn:hover {
  background-color: #392263;
}

.light-btn {
  background-color: #ff2d2d;
  color: #fff;
  font-size: 20px;
  border-radius: 0.2rem;
  padding: 10px 15px 10px !important;
}

.light-btn:hover {
  background-color: #ff6d6d;
  color: #ffff;
}

.long-btn {
  background-color: #1d0053;
  font-size: 20px;
  height: 50px;
  color: #fff;
  border: 0;
}

.long-btn:hover {
  background-color: #392263;
}

.a-link {
  color: #1d0053 !important;
  font-weight: bold;
}

.top-nav {
  padding: 1rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}

.ant-menu-item {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-a-tag {
  color: #1d0053 !important;
}

.menu-a-tag-secondary {
  color: #ff2d2d !important;
  font-weight: 900;
  border-bottom: #1d0053 solid 5px;
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
}

.ant-menu-item-selected {
  background-color: #ececec !important;
  border-radius: 0.5rem;
}

.subclass {
  font-size: 20px;
  background-color: #1d0053;
  box-shadow: 5px 5px #ff2d2d;
  color: #fff;
}

.rounded-jumbo {
  background-color: #1d0053;
  color: #fff;
}

/* Features */
.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
  box-shadow: 7px 7px #1d0053;
}

/* Sidebar */
.sidebar-content {
  height: 100%;
  position: relative;
  margin-left: -1rem;
}

.sidebar {
  width: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 2.5em;
  background: #111111;
  color: #ffffff;
  height: 100%;
}

.nav-link {
  background-color: #3a00a5 !important;
  color: #ffffff !important;
  font-weight: 800;
  border-radius: 1rem;
  box-shadow: 5px 5px #10002e;
}

/* Payout */
.form-payout {
  box-shadow: 1px 1px 10px;
  padding: 3rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
  color: #ececec;
}

/* Create Collection */
.form-collection {
  box-shadow: 1px 1px 10px;
  padding: 4rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
  color: #ececec;
  margin-left: 15%;
  width: 100vh;
  margin-bottom: 4rem;
}

/* List of collections */
.collection-list {
  box-shadow: 1px 1px 10px;
  padding: 4rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
  color: #ececec;
  margin-left: 15%;
  width: 100vh;
  margin-bottom: 4rem;
}

.collection-actions:hover {
  background-color: #ff2d2d;
  border: none !important;
}

@media (max-width: 414px) {
  .sidebar-content {
    height: 100%;
    margin-top: 3rem;
    position: relative;
    margin-left: 0.1rem;
  }
  .sidebar {
    height: 50vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }

  .form-collection {
    box-shadow: 1px 1px 10px;
    padding: 4rem;
    border-radius: 0.5rem;
    margin-top: 4rem;
    color: #ececec;
    margin-left: 0;
    width: 100%;
  }

  /* List of collections */
  .collection-list {
    box-shadow: 1px 1px 10px;
    padding: 4rem;
    border-radius: 0.5rem;
    margin-top: 4rem;
    color: #ececec;
    margin-left: 0%;
    width: 100%;
  }
}
