html,
body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 39px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #ffff !important;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

svg {
  vertical-align: baseline;
}

.main-color {
  color: #1d0053;
}

.secondary-color {
  color: #ff2d2d !important;
}

.main-bg {
  background-color: #1d0053;
}

.secondary-bg {
  background-color: #ff2d2d;
}

.main-btn {
  background-color: #1d0053;
  border-radius: 0.2rem;
  font-size: 20px;
  padding: 10px 15px 10px !important;
  color: #fff;
}

.main-btn:hover {
  background-color: #392263;
}

.light-btn {
  background-color: #ff2d2d;
  color: #fff;
  font-size: 20px;
  border-radius: 0.2rem;
  padding: 10px 15px 10px !important;
}

.light-btn:hover {
  background-color: #ff6d6d;
  color: #ffff;
}

.long-btn {
  background-color: #1d0053;
  font-size: 20px;
  height: 50px;
  color: #fff;
}

.long-btn:hover {
  background-color: #392263;
}

.a-link {
  color: #1d0053 !important;
  font-weight: bold;
}

.top-nav {
  padding: 1rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}

.ant-menu-item {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-a-tag {
  color: #1d0053 !important;
}

.menu-a-tag-secondary {
  color: #ff2d2d !important;
  font-weight: 900;
  border-bottom: #1d0053 solid 5px;
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
}

.ant-menu-item-selected {
  background-color: #ececec !important;
  border-radius: 0.5rem;
}

.subclass {
  font-size: 20px;
  border: black solid 1px;
  border-radius: 0.5rem;
  color: #1d0053;
}

.rounded-jumbo {
  background-color: #1d0053;
  color: #fff;
}

/* Features */
.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
  box-shadow: 7px 7px #1d0053;
}

/* Sidebar */
.sidebar {
  height: 100vh;
  width: 300px;
  /* Change absolute in small screens for responsive */
  position: absolute;
  top: 0;
  left: 0;
}

.nav-link {
  background-color: #1d0053 !important;
  color: #ffffff !important;
  font-weight: 800;
  border: 1px solid #fff !important;
  border-radius: 0 !important;
}

/* Payout */
.form-payout {
  box-shadow: 1px 1px 10px;
  padding: 3rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
  color: #ececec;
}
